<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertThAdoptReviewBoard">	
		INSERT
			  INTO ADOPT_REVIEW
			  (
			    ARLIST_NO
			  , MEM_NO
			  , MEM_ID
			  , NICKNAME
			  , AN_TYPE
			  , AR_TITLE
			  , AR_CONTENT
			  )
			  VALUES
			  (
			    'AR-'||LPAD(SEQ_ARNO.NEXTVAL,3,0)
			  , ?
			  , ?
			  , ?
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	
	<entry key="insertReviewAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , PATH
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , ATTACH_LEVEL
		  )
		  VALUES
		  (
		    'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
		  , 'AR-'||LPAD(SEQ_ARNO.CURRVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectReviewList">
		SELECT
		       ARLIST_NO
		     , AN_TYPE
		     , AR_TITLE
		     , VIEW_COUNT
		     , PATH || CHANGE_NAME "TITLEIMG"
		  FROM ADOPT_REVIEW
		  JOIN ATTACHMENT ON(ARLIST_NO = REF_NO)
		 WHERE POST_STATUS = 'Y'
		   AND ATTACH_LEVEL = 1
		 ORDER
		    BY ARLIST_NO DESC
	</entry>
	
	<entry key="increaseCount">
		UPDATE 
		       ADOPT_REVIEW
		   SET VIEW_COUNT = VIEW_COUNT+1
		 WHERE ARLIST_NO = ?
		   AND POST_STATUS = 'Y'
	</entry>
	
	<entry key="selectReview">
		SELECT 
		       ARLIST_NO
		     , AN_TYPE
		     , AR_TITLE
		     , AR_CONTENT
		     , M.NICKNAME
		     , TO_CHAR(WRITE_DATE, 'YYYY/MM/DD') "WRITE_DATE"
		  FROM ADOPT_REVIEW A
	 	  JOIN MEM_INFO M USING(MEM_NO)
		 WHERE ARLIST_NO = ?
	</entry>
	
	<entry key="selectAttachment">
		SELECT 
		       ATTACH_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , PATH
		  FROM ATTACHMENT
		 WHERE REF_NO = ?
	</entry>
	
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ADOPT_REVIEW
		 WHERE POST_STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, C.* 
		          FROM (
		                SELECT
		                       ARLIST_NO
		                     , A.MEM_ID
		                     , A.NICKNAME
                             , AN_TYPE
                             , AR_TITLE
                             , VIEW_COUNT
                             , TO_CHAR(WRITE_DATE,'YYYY-MM-DD') WRITE_DATE
		                  FROM ADOPT_REVIEW A
                          JOIN MEM_INFO USING(MEM_NO)
                         WHERE POST_STATUS = 'Y'
		                 ORDER
		                    BY ARLIST_NO DESC
		                ) C
		        )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
</properties>









