<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 전체 게시글 수 불러오는 sql -->
	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ADOPT_NOTICE
         WHERE POST_STATUS = 'Y'
	</entry>
	
	<entry key="selectNoticeThumbnailList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                 SELECT 
		                       ANLIST_NO
		                     , AN_TITLE
		                     , VIEW_COUNT
		                     , ADT_STATUS
		                     , PATH||CHANGE_NAME "TITLEIMG"
		                     , ENT_NO
		                     , E.ANIMAL_TYPE
		                  FROM ADOPT_NOTICE AN
		                  JOIN ENTRANCE E USING (ENT_NO)
		                  JOIN ATTACHMENT A ON (ANLIST_NO = REF_NO)
		                 WHERE REF_NO LIKE 'AN-%'
		                   AND AN.POST_STATUS = 'Y'
		                   AND ATTACH_LEVEL = 1
		                 ORDER
		                    BY ANLIST_NO DESC 
		            ) A
		      )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 게시글 리스트 불러오는 sql -->
	<entry key="selectList">	
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       ANLIST_NO
		                     , AN_TITLE
		                     , TO_CHAR(WRITE_DATE, 'YYYY/MM/DD') "WRITE_DATE"
		                     , VIEW_COUNT
		                     , ENT_NO
		                     , ADT_STATUS
		                     , ANIMAL_TYPE
		                  FROM ADOPT_NOTICE AN
		                  JOIN ENTRANCE E USING(ENT_NO)
		                 WHERE AN.POST_STATUS = 'Y'
		                 ORDER 
		                    BY ANLIST_NO DESC
		            ) A
		  )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 상세조회 요청시 조회수 증가용 sql -->
	<entry key="increaseCount">
		UPDATE
		        ADOPT_NOTICE
		   SET VIEW_COUNT = VIEW_COUNT + 1
		 WHERE ANLIST_NO = ?
		   AND POST_STATUS = 'Y'
	</entry>
	
	<!-- 입양공고글 상세조회 sql -->
	<entry key="selectAdoptNotice">
		SELECT
		       ANLIST_NO
		     , AN_TITLE
		     , AN_CONTENT
          	 , TO_CHAR(WRITE_DATE, 'YYYY/MM/DD') "WRITE_DATE"
		     , VIEW_COUNT
		     , ENT_NO
		     , ANIMAL_VARIETY
		     , ANIMAL_NAME
		     , ANIMAL_GENDER
		     , ANIMAL_AGE
		     , ANIMAL_VACCINATED
		     , ANIMAL_NEUTRALIZATION
		     , ANIMAL_DISEASE
		     , ANIMAL_ISSUE
		     , ADT_STATUS
		     , POST_STATUS
		     , ANIMAL_TYPE
		  FROM ADOPT_NOTICE
		  JOIN ADOPT_ANIMAL USING(ENT_NO)
     	  JOIN ENTRANCE USING(ENT_NO)
		 WHERE ANLIST_NO = ?		
	</entry>

	<!-- 입양신청글 insert sql -->
	<entry key="insertAdoptApply">
		INSERT 
	       INTO ADOPT_APPLY
	       (
	         AALIST_NO
	       , ANLIST_NO
	       , MEM_NO
	       , MEM_NAME
	       , AA_TITLE
	       , PAY_STATUS
	       , ADT_STATUS
	       , POST_STATUS
	       , AA_NAME
	       , AA_AGE
	       , AA_GENDER
	       , AA_PHONE
	       , AA_EMAIL
	       , AA_ADDRESS
	       , MARRIAGE_YN
	       , AA_JOB
	       , ADOPT_REASON
	       , PARENT_EXP
	       , HAVE_PET_YN
	       , PET_TYPE
	       , PET_AGE
	       , PET_GENDER
	       , PET_NEUTRAL
	       , A_MATE
	       , C_MATE
	       , CHILD_AGE
	       , AGREE_YPN
	       , EVENT_MNG_ANI
	       , EMPTYHOUR
	       , HOUSETYPE
	       , HSELF_YN
	       , AGREE_NEI_YN
	       , EXP_COST
	       , APPLY_DATE
	       )
	       VALUES
	       (
	         'AA-'||LPAD(SEQ_ADPNO.NEXTVAL,3,0)
	       , ?
	       , ?
	       , ?
	       , ?
	       , 'N' 
	       , 1
	       , 'Y' 
	       , ?  
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?  
	       , ?
	       , ?
	       , ?
	       , ?
		   , ?  
	       , ?
	       , ?
	       , ?
	       , ?
	       , ? 
	       , ?
	       , ?
	       , ?
	       , ?
	       , ? 
	       , ?
	       , ?
	       , ?
	       , ?
	       , SYSDATE
	       )
	</entry>
	
	<!-- 입양신청글 첨부파일 insert sql -->
	<entry key="insertAdpAttachment">
		INSERT 
	      INTO ATTACHMENT
	      (
	         ATTACH_NO
	       , REF_NO
	       , PATH
	       , UPLOAD
	       , ORIGIN_NAME
	       , CHANGE_NAME
	       , ATTACH_STATUS
	      )
	      VALUES
	      (
	        'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
	      , 'AA-'||LPAD(SEQ_ADPNO.CURRVAL,3,0)
	      , ?
	      , SYSDATE
	      , ?
	      , ?
	      , 'Y'
	      )
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		        ATTACH_NO
		      , REF_NO
		      , ORIGIN_NAME
		      , CHANGE_NAME
		      , PATH
		   FROM ATTACHMENT
		  WHERE REF_NO = ?
	</entry>
	
	<entry key="selectAnimalInfo">
		SELECT 
		       ENT_NO       
		     , ADOPT_STATUS 
		     , TO_CHAR(ADOPT_DATE, 'YYYY/MM/DD') "ADOPT_DATE" 
		     , ANIMAL_VARIETY   
		     , ANIMAL_NAME      
		     , ANIMAL_GENDER    
		     , ANIMAL_AGE       
		     , ANIMAL_VACCINATED
		     , ANIMAL_NEUTRALIZATION
		     , ANIMAL_DISEASE
		     , ANIMAL_ISSUE    
   		     , ANIMAL_TYPE 
  		     , TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE" 
		  FROM ADOPT_ANIMAL
		  JOIN ENTRANCE USING (ENT_NO)
		 WHERE ENT_NO = ?
	</entry>
	
		<entry key="insertAdoptNotice">
		INSERT 
		  INTO ADOPT_NOTICE
		  (
		    ANLIST_NO
		  , AN_TITLE
		  , AN_CONTENT
		  , WRITE_DATE
		  , VIEW_COUNT
		  , ENT_NO
		  , ADT_STATUS
		  , POST_STATUS
		  )
		  VALUES
		  (
		    'AN-'||LPAD(SEQ_ADTNO.NEXTVAL,3,0)
		  , ? 
		  , ? 
		  , SYSDATE 
		  , 0
		  , ?
		  , 1
		  , 'Y'
		  )
	</entry>
	
	<!-- 입양공고 등록시 첨부파일 등록 -->
	<entry key="insertAttachList">
		INSERT 
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , PATH
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , ATTACH_LEVEL
		  )
		  VALUES
		  (
		    'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
		  , 'AN-'||LPAD(SEQ_ADTNO.CURRVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<!-- 입양공고 조회시 첨부파일 불러올 sql -->
	<entry key="selectAttachmentList">
		SELECT
		        ATTACH_NO
		      , ORIGIN_NAME
		      , CHANGE_NAME
		      , PATH
		      , ATTACH_LEVEL
		   FROM ATTACHMENT
		  WHERE REF_NO = ?
	</entry>
	
	<!-- 입양공고 삭제 sql -->
	<entry key="deleteAdoptNotice">
		UPDATE
		       ADOPT_NOTICE
		   SET POST_STATUS = 'N'
		 WHERE ANLIST_NO = ?
	</entry>
	
	<!-- 입양공고 수정 sql -->
	<entry key="updateAdoptNotice">
		UPDATE 
		       ADOPT_NOTICE
		   SET AN_TITLE = ?
		     , AN_CONTENT = ?
		 WHERE ANLIST_NO = ?
	</entry>
	
	<!-- 첨부파일 수정용 sql -->
	<entry key="updateAttachment">
		 UPDATE 
		        ATTACHMENT
		    SET ORIGIN_NAME = ?
		      , CHANGE_NAME = ?
		      , PATH = ?
		      , ATTACH_LEVEL = ?
		 WHERE ATTACH_NO = ?
	</entry>
	
	
	<!-- 입양신청글 갯수 알아오는 sql -->
	<entry key="selectAdoptApplyListCount">
		SELECT
		       COUNT(*) count
		  FROM ADOPT_APPLY
         WHERE POST_STATUS = 'Y'
	</entry>
	
	<!-- 입양신청글 리스트 불러오는 sql -->
	<entry key="selectAdoptApplyList">		 
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                 SELECT 
		                       AALIST_NO
		                     , ANLIST_NO
		                     , MEM_NO
		                     , AA_TITLE
		                     , M.MEM_ID
		                     , TO_CHAR(APPLY_DATE, 'YYYY/MM/DD') "APPLY_DATE"
		                     , ADT_STATUS
		                  FROM ADOPT_APPLY AA
		                  JOIN MEM_INFO M USING (MEM_NO)
		                 WHERE AA.POST_STATUS = 'Y'
		                 ORDER
		                    BY AALIST_NO DESC 
		            ) A
		      )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectAdminAdoptApply">
		SELECT 
		       AALIST_NO
		     , ANLIST_NO
		     , MEM_NO
		     , AA.MEM_NAME
		     , AA_TITLE
		     , PAY_STATUS
		     , ADT_STATUS
		     , POST_STATUS
		     , AA_NAME
		     , AA_AGE
		     , AA_GENDER
		     , AA_PHONE
		     , AA_EMAIL
		     , AA_ADDRESS
		     , MARRIAGE_YN
		     , AA_JOB
		     , ADOPT_REASON
		     , PARENT_EXP
		     , HAVE_PET_YN
		     , PET_TYPE
		     , PET_AGE
		     , PET_GENDER
		     , PET_NEUTRAL
		     , A_MATE
		     , C_MATE
		     , CHILD_AGE
		     , AGREE_YPN
		     , EVENT_MNG_ANI
		     , EMPTYHOUR
		     , HOUSETYPE
		     , HSELF_YN
		     , AGREE_NEI_YN
		     , EXP_COST
		     , MEM_ID
		     , TO_CHAR(APPLY_DATE, 'YYYY/MM/DD') "APPLY_DATE"
		  FROM ADOPT_APPLY AA
		  JOIN MEM_INFO USING (MEM_NO)
		 WHERE AALIST_NO = ?
	</entry>
	
	<entry key="adoptApplyStatusUpdate">
		UPDATE 
		       ADOPT_APPLY
		   SET ADT_STATUS = ?
		     , PAY_STATUS = ?
		 WHERE AALIST_NO = ?
	</entry>
	
	<entry key="adoptNoticeADTStatusUpdate">
		UPDATE 
		       ADOPT_NOTICE
		   SET ADT_STATUS = ?
		 WHERE ANLIST_NO = ?
	</entry>
	
	<entry key="adoptAnimalADTStatusUpdate">
		UPDATE ADOPT_ANIMAL
		   SET ADOPT_STATUS = ?
		      ,ADOPT_DATE = SYSDATE
		 WHERE ENT_NO IN (SELECT ENT_NO
		                    FROM ADOPT_NOTICE
		                   WHERE ANLIST_NO = ?)
	</entry>
	
	<entry key="adoptMemUpdate">
		UPDATE MEM_INFO
		   SET ADOPT_YN = ?
		     , PAY_YN = ?
		     , GRADE = ?
		 WHERE MEM_NO = ?
	</entry>
	
</properties>