<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertThAdoptReviewBoard">	
		INSERT
			  INTO ADOPT_REVIEW
			  (
			    ARLIST_NO
			  , MEM_NO
			  , NICKNAME
			  , AR_TITLE
			  , AR_CONTENT
			  )
			  VALUES
			  (
			    'AR-'||LPAD(SEQ_ARNO.NEXTVAL,3,0)
			  , ?
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	
	<entry key="insertReviewAttachmentList">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , PATH
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , ATTACH_LEVEL
		  )
		  VALUES
		  (
		    'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
		  , 'AR-'||LPAD(SEQ_ARNO.CURRVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
</properties>