<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 전체 게시글 수 불러오는 sql -->
	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ADOPT_NOTICE
         WHERE POST_STATUS = 'Y'
	</entry>
	
	<!-- 게시글 리스트 불러오는 sql -->
	<entry key="selectList">	
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       ANLIST_NO
		                     , AN_TITLE
		                     , TO_CHAR(WRITE_DATE, 'YYYY/MM/DD') "WRITE_DATE"
		                     , VIEW_COUNT
		                     , ENT_NO
		                     , ADT_STATUS
		                     , ANIMAL_TYPE
		                  FROM ADOPT_NOTICE AN
		                  JOIN ENTRANCE E USING(ENT_NO)
		                 WHERE AN.POST_STATUS = 'Y'
		                 ORDER 
		                    BY ANLIST_NO DESC
		            ) A
		  )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 상세조회 요청시 조회수 증가용 sql -->
	<entry key="increaseCount">
		UPDATE
		        ADOPT_NOTICE
		   SET VIEW_COUNT = VIEW_COUNT + 1
		 WHERE ANLIST_NO = ?
		   AND POST_STATUS = 'Y'
	</entry>
	
	<!-- 입양공고글 상세조회 sql -->
	<entry key="selectAdoptNotice">
		SELECT
		       ANLIST_NO
		     , AN_TITLE
		     , AN_CONTENT
          	 , TO_CHAR(WRITE_DATE, 'YYYY/MM/DD') "WRITE_DATE"
		     , VIEW_COUNT
		     , ENT_NO
		     , ANIMAL_VARIETY
		     , ANIMAL_NAME
		     , ANIMAL_GENDER
		     , ANIMAL_AGE
		     , ANIMAL_VACCINATED
		     , ANIMAL_NEUTRALIZATION
		     , ANIMAL_DISEASE
		     , ANIMAL_ISSUE
		  FROM ADOPT_NOTICE
		  JOIN ENTRANCE USING(ENT_NO)
		 WHERE ANLIST_NO = ?		
	</entry>

	<!-- 입양신청글 insert sql -->
	<entry key="insertAdoptApply">
		INSERT 
	       INTO ADOPT_APPLY
	       (
	         AALIST_NO
	       , ANLIST_NO
	       , MEM_NO
	       , MEM_NAME
	       , AA_TITLE
	       , PAY_STATUS
	       , ADT_STATUS
	       , POST_STATUS
	       , AA_NAME
	       , AA_AGE
	       , AA_GENDER
	       , AA_PHONE
	       , AA_EMAIL
	       , AA_ADDRESS
	       , MARRIAGE_YN
	       , AA_JOB
	       , ADOPT_REASON
	       , PARENT_EXP
	       , HAVE_PET_YN
	       , PET_TYPE
	       , PET_AGE
	       , PET_GENDER
	       , PET_NEUTRAL
	       , A_MATE
	       , C_MATE
	       , CHILD_AGE
	       , AGREE_YPN
	       , EVENT_MNG_ANI
	       , EMPTYHOUR
	       , HOUSETYPE
	       , HSELF_YN
	       , AGREE_NEI_YN
	       , EXP_COST
	       , APPLY_DATE
	       )
	       VALUES
	       (
	         'AA-'||LPAD(SEQ_ADPNO.NEXTVAL,3,0)
	       , ?
	       , ?
	       , ?
	       , ?
	       , 'N' 
	       , 1
	       , 'Y' 
	       , ?  
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?  
	       , ?
	       , ?
	       , ?
	       , ?
		   , ?  
	       , ?
	       , ?
	       , ?
	       , ?
	       , ? 
	       , ?
	       , ?
	       , ?
	       , ?
	       , ? 
	       , ?
	       , ?
	       , ?
	       , ?
	       , SYSDATE
	       )
	</entry>
	
	<!-- 입양신청글 첨부파일 insert sql -->
	<entry key="insertAdpAttachment">
		INSERT 
	      INTO ATTACHMENT
	      (
	         ATTACH_NO
	       , REF_NO
	       , PATH
	       , UPLOAD
	       , ORIGIN_NAME
	       , CHANGE_NAME
	       , ATTACH_STATUS
	      )
	      VALUES
	      (
	        'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
	      , 'AA-'||LPAD(SEQ_ADPNO.CURRVAL,3,0)
	      , ?
	      , SYSDATE
	      , ?
	      , ?
	      , 'Y'
	      )
	</entry>
	
	<entry key="selectAttachmentList">
	SELECT
	        ATTACH_NO
	      , ORIGIN_NAME
	      , CHANGE_NAME
	      , PATH
	   FROM ATTACHMENT
	  WHERE REF_NO = '?';
	</entry>
</properties>