<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 전체 게시글 수 불러오는 sql -->
	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ADOPT_ANIMAL;
	</entry>
	
	
	<!-- 게시글 객체 불러올 sql -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT
		                          ENT_NO
		                        , ADOPT_STATUS
		                        , ANIMAL_VARIETY
		                        , ANIMAL_NAME
		                        , ANIMAL_TYPE
		                        , TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE"
		                     FROM ADOPT_ANIMAL
		                     JOIN ENTRANCE USING (ENT_NO)
		                 ORDER 
		                    BY ENT_NO DESC
		            ) A
		  )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>