<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 전체 게시글 수 불러오는 sql -->
	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ADOPT_ANIMAL
	</entry>
	
	
	<!-- 게시글 객체 불러올 sql -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT
		                          ENT_NO
		                        , ADOPT_STATUS
		                        , ANIMAL_VARIETY
		                        , ANIMAL_NAME
		                        , ANIMAL_TYPE
		                        , TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE"
		                     FROM ADOPT_ANIMAL
		                     JOIN ENTRANCE USING (ENT_NO)
		                 ORDER 
		                    BY ENT_NO DESC
		            ) A
		  )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 동물정보 조회 -->
	<entry key="selectAnimalInfo">
		SELECT 
		       ENT_NO
		     , ADOPT_STATUS
		     , ADOPT_DATE
		     , TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE"
		     , ANIMAL_VARIETY
		     , ANIMAL_NAME
		     , ANIMAL_GENDER
		     , ANIMAL_AGE
		     , ANIMAL_VACCINATED
		     , ANIMAL_NEUTRALIZATION
		     , ANIMAL_DISEASE
		     , ANIMAL_ISSUE
		  FROM ADOPT_ANIMAL
		  JOIN ENTRANCE USING (ENT_NO)
		 WHERE ENT_NO = ?
	</entry>
	
	<!-- 첨부파일 불러오는 sql 나중에 동물정보 update하고 나서 불러오는 sql -->
	<entry key="selectAttachment">
	SELECT
	       ATTACH_NO
	     , REF_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , PATH
	     , ATTACH_LEVEL
	  FROM ATTACHMENT
	 WHERE REF_NO = ?
	</entry>
	
	<!-- 동물테이블에 정보 업데이트 -->
	<entry key="updateAnimalInfo1">
		UPDATE
		        ADOPT_ANIMAL
		   SET ADOPT_STATUS = ?
		     , ADOPT_DATE = ?
		 WHERE ENT_NO = ?
	</entry>
	
	<!-- 입소테이블에 동물정보 업데이트 -->
	<entry key="updateAnimalInfo2">
		UPDATE 
		       ENTRANCE
		   SET
		       ANIMAL_AGE = ?
		     , ANIMAL_VACCINATED = ?
		     , ANIMAL_NEUTRALIZATION = ?
		     , ANIMAL_DISEASE = ?
		     , ANIMAL_ISSUE = ?
		 WHERE ENT_NO = ?
	</entry>
	
</properties>