<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 전체 게시글 수 불러오는 sql -->
	<entry key="selectListCount">
		SELECT
		       COUNT(*) count
		  FROM ADOPT_ANIMAL
	</entry>
	
	
	<!-- 게시글 객체 불러올 sql -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT
		                          ENT_NO
		                        , ADOPT_STATUS
		                        , ANIMAL_VARIETY
		                        , ANIMAL_NAME
		                        , ANIMAL_TYPE
		                        , TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE"
		                     FROM ADOPT_ANIMAL
		                     JOIN ENTRANCE USING (ENT_NO)
		                 ORDER 
		                    BY ENT_NO DESC
		            ) A
		  )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 동물정보 조회 -->
	<entry key="selectAnimalInfo">
		SELECT 
		       ENT_NO
		     , ADOPT_STATUS
		     , TO_CHAR(ADOPT_DATE, 'YYYY/MM/DD') "ADOPT_DATE"
		     , TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE"
		     , ANIMAL_VARIETY
		     , ANIMAL_NAME
		     , ANIMAL_GENDER
		     , ANIMAL_AGE
		     , ANIMAL_VACCINATED
		     , ANIMAL_NEUTRALIZATION
		     , ANIMAL_DISEASE
		     , ANIMAL_ISSUE
		  FROM ADOPT_ANIMAL
		  JOIN ENTRANCE USING (ENT_NO)
		 WHERE ENT_NO = ?
	</entry>
	
	<!-- 첨부파일 불러오는 sql  -->
	<entry key="selectAttachment">
	SELECT
	       ATTACH_NO
	     , REF_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , PATH
	     , ATTACH_LEVEL
	  FROM ATTACHMENT
	 WHERE REF_NO = ?
	</entry>
	
	<!-- 동물테이블에 정보 업데이트 -->
	<entry key="updateAnimalInfo1">
		UPDATE
		        ADOPT_ANIMAL
		   SET ADOPT_STATUS = ?
		     , ADOPT_DATE = ?
		 WHERE ENT_NO = ?
	</entry>
	
	<!-- 입소테이블에 동물정보 업데이트 -->
	<entry key="updateAnimalInfo2">
		UPDATE 
		       ENTRANCE
		   SET
		       ANIMAL_AGE = ?
		     , ANIMAL_VACCINATED = ?
		     , ANIMAL_NEUTRALIZATION = ?
		     , ANIMAL_DISEASE = ?
		     , ANIMAL_ISSUE = ?
		 WHERE ENT_NO = ?
	</entry>
	
	<!-- 첨부파일 있을 때, 첨부파일 update하는 sql -->
	<entry key="updateAttachment">
		 UPDATE 
		        ATTACHMENT
		    SET ORIGIN_NAME = ?
		      , CHANGE_NAME = ?
		      , PATH = ?
		      , UPLOAD = SYSDATE
		      , ATTACH_STATUS = 'Y'
		      , ATTACH_LEVEL = ?
		 WHERE ATTACH_NO = ?
	</entry>
	
	<!-- 첨부파일 없을때 insert하는 sql -->
	<entry key="insertAttachment">
		INSERT 
			  INTO ATTACHMENT
			  (
			    ATTACH_NO
			  , REF_NO
			  , UPLOAD
  			  , PATH
			  , ORIGIN_NAME
			  , CHANGE_NAME
			  , ATTACH_LEVEL
			  , ATTACH_STATUS
			  )
			  VALUES
			  (
			    'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
			  , ?  
			  , SYSDATE
			  , ? 
			  , ? 
			  , ? 
			  , ?
			  , 'Y'
			  )
	</entry>
	
	<entry key="selectaniDate">
		SELECT TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE"
		  FROM (SELECT ENT_DATE
		          FROM ADOPT_ANIMAL
                  JOIN ENTRANCE E USING (ENT_NO)
		         WHERE ADOPT_STATUS = 'Y'
		         ORDER 
		            BY ENT_DATE DESC) A
		 WHERE ROWNUM = 1
	</entry>
	
	<entry key="selectSearchAnimalListCount">
		SELECT
		       COUNT(*) count
		    FROM ADOPT_ANIMAL
		    JOIN ENTRANCE E USING (ENT_NO)
		    WHERE E.ANIMAL_TYPE = ?
		      AND E.ANIMAL_VARIETY LIKE ?
	</entry>
	
	<entry key="selectSearchAnimalList">
		 SELECT *
		      FROM (   
	             SELECT ROWNUM RNUM, A.*
			          FROM (
			                  SELECT
			                          ENT_NO
			                        , ADOPT_STATUS
			                        , E.ANIMAL_VARIETY
			                        , E.ANIMAL_NAME
			                        , E.ANIMAL_TYPE
			                        , TO_CHAR(ENT_DATE, 'YYYY/MM/DD') "ENT_DATE"
			                     FROM ADOPT_ANIMAL
			                     JOIN ENTRANCE E USING (ENT_NO)
	                             WHERE E.ANIMAL_TYPE = ?
	                             AND E.ANIMAL_VARIETY LIKE ?
			                 ORDER 
			                    BY ENT_NO DESC
		                ) A
		          )
		      WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>