<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectAnswerList">
SELECT 
    INQUIRE_NO
    , AS_CATEGORY
    , memId
    , Q_TITLE
    , Q_CONTENT
    , Q_CREAT
    FROM ANSWER A 
    JOIN MEMBER ON(MEM_NO = MEM_ID)
    ORDER 
    BY INQUIRE_NO DESC
</entry>

<entry key="insertAnswer">
INSERT 
	INTO ANSWER 
    (
      INQUIRE_NO
    , AS_CATEGORY
    , MEM_ID
    , Q_TITLE
    , Q_CONTENT
    , MEM_NO
    )
    VALUES
    (
    'AS-'||LPAD(SEQ_AS.NEXTVAL,3,0)
    ,?
    ,?
    ,?
    ,?
    ,?
    )
    JOIN MEMBER ON(MEM_NO = MEM_ID)
</entry>

<entry key="adinsertAnswer">
INSERT 
	INTO ANSWER 
    (
  	 AN_CONTENT
  	 MN_NO
    )
    VALUES
    (
    ?
    ,?
    )
</entry>
</properties>