<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectAnswerList">
SELECT 
    INQUIRE_NO
    , AS_CATEGORY
    , Q_TITLE
    , Q_CONTENT
    , MEM_ID
    FROM ANSWER A 
    JOIN MEMBER ON(MEM_NO = MEM_ID)
    ORDER 
    BY INQUIRE_NO DESC
</entry>

<entry key="insertAnswer">
INSERT 
	INTO ANSWER 
    (
      INQUIRE_NO
    , AS_CATEGORY
    , MEM_ID
    , Q_TITLE
    , Q_CONTENT
    )
    VALUES
    (
    'AS-'||LPAD(SEQ_AS.NEXTVAL,3,0)
    ,?
    ,?
    ,?
    ,?
    )
    WHERE MEM_NO =? 
    AND MEM_ID = ?
</entry>

<entry key="adinsertAnswer">
INSERT 
	INTO ANSWER 
    (
  	 AN_CONTENT
  	 MN_NO
    )
    VALUES
    (
    ?
    ,?
    )
</entry>

<entry key="asselectAnswerList">
SELECT 				
	AS_CATEGORY
	,INQUIRE_NO
	,MEM_ID
	,Q_TITLE
	,Q_CONTENT
	,Q_CREAT
	,AN_CONTENT
	FROM ANSWER;
										
						}
</entry>
</properties>