<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectAnswerList">
SELECT 
    INQUIRE_NO
    , AS_CATEGORY
    , Q_TITLE
    , Q_CONTENT
    , memId
    , Q_CREAT
    FROM ANSWER A 
    JOIN MEMBER ON(MEM_NO = MEM_ID)
    ORDER 
    BY INQUIRE_NO DESC
</entry>

<entry key="insertAnswer">
INSERT ANSWER 
    INTO 
    (
    INQUIRE_NO
    , MEM_ID
    , Q_TITLE
    , Q_CONTENT
    , Q_CREAT
    )
    VALUES
    (
    'AS-'||LPAD(SEQ_AS.NEXTVAL,3,0)
    ,?
    ,?
    ,?
    ,SYSDATE
    )
</entry>
</properties>