<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertDsp">
		INSERT
		  INTO DSP
		  (
		    DSP_NO
		  , MEM_NO
		  , DSP_TITLE
		  , NICKNAME
		  , POST_CTG
		  , ISSUE_DATE
		  , LOCATION_NAME
		  , CASE_PHONE
		  , ANIMAL_VARIETY
		  , ANIMAL_GENDER
		  , ANIMAL_AGE
		  , ANIMAL_WEIGHT
		  , ANIMAL_ISSUE
		  , ETC
		  , MONEY
		  )
		  VALUES
		  (
		    'DSP-'||LPAD(SEQ_DSPNO.NEXTVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	
	</entry>


	<entry key="insertDspAttachment">
		INSERT 
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , PATH
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , ATTACH_LEVEL
		  )
		VALUES
		 (
		   SEQ_FNO.NEXTVAL
		 , 'DSP-'||LPAD(SEQ_DSPNO.CURRVAL,3,0)
		 , ?
		 , ?
		 , ?
		 , ?
		 )

	</entry>
	
	
	<entry key="selectDspList">
		SELECT
		       POST_CTG
		     , DSP_TITLE
		     , MONEY
		     , LOCATION_NAME
		     , ANIMAL_ISSUE
		     , PATH || CHANGE_NAME "TITLEIMG"
		  FROM DSP
		  JOIN ATTACHMENT ON (DSP_NO = REF_NO)
		 WHERE POST_STATUS = 'Y'
		 ORDER 
		    BY DSP_NO DESC
	</entry>
</properties>