<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 글작성 -->
	<entry key="insertDsp">
		INSERT
		  INTO DSP
		  (
		    DSP_NO
		  , MEM_NO
		  , DSP_TITLE
		  , NICKNAME
		  , POST_CTG
		  , ISSUE_DATE
		  , LOCATION_NAME
		  , CASE_PHONE
		  , ANIMAL_VARIETY
		  , ANIMAL_GENDER
		  , ANIMAL_AGE
		  , ANIMAL_WEIGHT
		  , ANIMAL_ISSUE
		  , ETC
		  , MONEY
		  )
		  VALUES
		  (
		    'DSP-'||LPAD(SEQ_DSPNO.NEXTVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	
	</entry>

	<!-- 첨부파일 INSERT -->
	<entry key="insertDspAttachment">
		INSERT 
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , PATH
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , ATTACH_LEVEL
		  )
		VALUES
		 (
		   SEQ_FNO.NEXTVAL
		 , 'DSP-'||LPAD(SEQ_DSPNO.CURRVAL,3,0)
		 , ?
		 , ?
		 , ?
		 , ?
		 )

	</entry>
	
	
	
	<!-- 목록조회 -->
	<entry key="selectDspList">
		SELECT
			    DSP_NO
		     ,  POST_CTG
		     , DSP_TITLE
		     , MONEY
		     , LOCATION_NAME
		     , ANIMAL_ISSUE
		     , PATH || CHANGE_NAME "TITLEIMG"
		  FROM DSP
		  JOIN ATTACHMENT ON (DSP_NO = REF_NO)
		 WHERE POST_STATUS = 'Y'
           and attach_level = 1
		 ORDER 
		    BY DSP_NO DESC
	</entry>
	
	
	<entry key="selectCategoryList">
		SELECT
		      CATEGORY_NAME
		FROM DSP_CATEGORY
	</entry>
	
	
	
	<!-- 조회수 증가 -->
	<entry key="increaseCount">
		UPDATE
		       DSP
		   SET VIEW_COUNT = VIEW_COUNT+1
		 WHERE DSP_NO = ?
		   AND POST_STATUS = 'Y'
	</entry>
	
	
	
	<!-- 첨부파일조회 -->
	<entry key="selectAttachment">
		SELECT
			   ATTACH_NO
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , PATH
		  FROM ATTACHMENT
			WHERE REF_NO = ?
		
	</entry>
	

	
	
	<!-- 글 상세 조회-->
	<entry key="selectDsp">
     	SELECT
			   DSP_NO
			 , NICKNAME
		     , DSP_TITLE
		     , WRITE_DATE
		     , VIEW_COUNT
		     , POST_CTG
		     , ISSUE_DATE
		     , LOCATION_NAME
		     , CASE_PHONE
		     , ANIMAL_VARIETY
		     , ANIMAL_GENDER
		     , ANIMAL_AGE
		     , ANIMAL_WEIGHT
		     , ANIMAL_ISSUE
		     , ETC
		     , MONEY
             , PATH || CHANGE_NAME "TITLEIMG"

		 FROM DSP
         JOIN ATTACHMENT ON (DSP_NO = REF_NO)

		 WHERE DSP_NO = ?
           and attach_level = 1
	</entry>
	
	<!-- 실종보호 목격글을 누르면 목록조회 -->
	<entry key="ctgList">
		SELECT
			    DSP_NO
		     ,  POST_CTG
		     , DSP_TITLE
		     , MONEY
		     , LOCATION_NAME
		     , ANIMAL_ISSUE
		     , PATH || CHANGE_NAME "TITLEIMG"
		  FROM DSP
		  JOIN ATTACHMENT ON (DSP_NO = REF_NO)
		 WHERE POST_STATUS = 'Y'
           and attach_level = 1
           and POST_CTG = ?
		 ORDER 
		    BY DSP_NO DESC
	</entry>
	
	
	<entry key="contentImgPath">
	     	SELECT
                   PATH || CHANGE_NAME "CONTENTIMG"

              FROM DSP
              JOIN ATTACHMENT ON (DSP_NO = REF_NO)

		     WHERE DSP_NO = ?
               and attach_level = 2
	</entry>
	
	<entry key="updateDsp">
		UPDATE
		       DSP
		   SET DSP_TITLE = ?
		     , POST_CTG = ?
		     , ISSUE_DATE = ?
		     , LOCATION_NAME = ?
		     , CASE_PHONE = ?
		     , ANIMAL_VARIETY = ?
		     , ANIMAL_GENDER = ?
		     , ANIMAL_AGE = ?
		     , ANIMAL_WEIGHT = ?
		     , ANIMAL_ISSUE = ?
		     , ETC = ?
		     , MONEY = ?
		WHERE DSP_NO = ?
	</entry>
	<entry key=""></entry>
	
	<entry key=""></entry>
	
	
	
	
</properties>