<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertEntrance">
		INSERT
		  INTO ENTRANCE
		  (
		  	ENT_NO
		  , MEM_NO
		  , MEM_NAME
		  , ENT_TITLE
		  , ENT_APPLYDATE
		  , ANIMAL_VARIETY
		  , ANIMAL_NAME
		  , ANIMAL_GENDER
		  , ANIMAL_AGE
		  , ANIMAL_VACCINATED
		  , ANIMAL_NEUTRALIZATION
		  , ANIMAL_DISEASE
		  , ANIMAL_ISSUE
		  , ENT_WANT_DATE
		  , ENT_WANT_TIME
		  , REQ_PHONE
		  , ANIMAL_TYPE
		  )
		  VALUES
		  (
		  	'EN-'||LPAD(SEQ_EN.NEXTVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>

	<entry key="insertAttachmentList">
		INSERT 
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , PATH
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , ATTACH_LEVEL
		  )
		  VALUES
		  (
		    'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
		  , 'EN-'||LPAD(SEQ_EN.CURRVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  ) 
	</entry>

	<entry key="selectEntranceList">
		SELECT
			   ENT_NO
		     , ENT_TITLE
		     , PROCESS_RESULT
		     , PATH||CHANGE_NAME "titleimg"
		  FROM ENTRANCE
		  JOIN ATTACHMENT ON (ENT_NO = REF_NO)
		 WHERE ATTACH_LEVEL = 1
		   AND ENT_STATUS = 'N'
		 ORDER
		       BY ENT_NO DESC
	</entry>

	<entry key="selectAttachment">
		SELECT
		       ATTACH_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , PATH
		  FROM ATTACHMENT
		 WHERE REF_NO = ?
	</entry>

	<entry key="selectEntrance">
		SELECT
		       ENT_NO
		     , MEM_NO
		     , MEM_NAME
		     , ENT_TITLE
		     , ENT_APPLYDATE
		     , PROCESS_RESULT
		     , ANIMAL_VARIETY
		     , ANIMAL_NAME
		     , ANIMAL_GENDER
		     , ANIMAL_AGE
		     , ANIMAL_VACCINATED
		     , ANIMAL_NEUTRALIZATION
		     , ANIMAL_DISEASE
		     , ANIMAL_ISSUE
		     , ENT_WANT_DATE
		     , ENT_WANT_TIME
		     , REQ_PHONE
		     , ANIMAL_TYPE
		  FROM ENTRANCE
		 WHERE ENT_NO = ?
	</entry>



















</properties>