<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertEntrance">
		INSERT
		  INTO ENTRANCE
		  (
		  	ENT_NO
		  , MEM_NO
		  , MEM_NAME
		  , ENT_TITLE
		  , ENT_APPLYDATE
		  , ANIMAL_VARIETY
		  , ANIMAL_NAME
		  , ANIMAL_GENDER
		  , ANIMAL_AGE
		  , ANIMAL_VACCINATED
		  , ANIMAL_NEUTRALIZATION
		  , ANIMAL_DISEASE
		  , ANIMAL_ISSUE
		  , ENT_WANT_DATE
		  , ENT_WANT_TIME
		  , REQ_PHONE
		  , ANIMAL_TYPE
		  )
		  VALUES
		  (
		  	'EN-'||LPAD(SEQ_EN.NEXTVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>

	<entry key="insertAttachmentList">
		INSERT 
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , PATH
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , ATTACH_LEVEL
		  )
		  VALUES
		  (
		    'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
		  , 'EN-'||LPAD(SEQ_EN.CURRVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  ) 
	</entry>

	<entry key="selectEntranceList">
		SELECT
			   ENT_NO
		     , ENT_TITLE
		     , PROCESS_RESULT
		     , PATH||CHANGE_NAME "titleimg"
		  FROM ENTRANCE
		  JOIN ATTACHMENT ON (ENT_NO = REF_NO)
		 WHERE ATTACH_LEVEL = 1
		   AND ENT_STATUS = 'N'
		 ORDER
		       BY ENT_NO DESC
	</entry>

	<entry key="selectAttachment">
		SELECT
		       ATTACH_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , PATH
		  FROM ATTACHMENT
		 WHERE REF_NO = ?
	</entry>

	<entry key="selectEntrance">
		SELECT
		       ENT_NO
		     , MEM_NO
		     , MEM_NAME
		     , ENT_TITLE
		     , ENT_APPLYDATE
		     , PROCESS_RESULT
		     , ANIMAL_VARIETY
		     , ANIMAL_NAME
		     , ANIMAL_GENDER
		     , ANIMAL_AGE
		     , ANIMAL_VACCINATED
		     , ANIMAL_NEUTRALIZATION
		     , ANIMAL_DISEASE
		     , ANIMAL_ISSUE
		     , ENT_WANT_DATE
		     , ENT_WANT_TIME
		     , REQ_PHONE
		     , ANIMAL_TYPE
		  FROM ENTRANCE
		 WHERE ENT_NO = ?
	</entry>

	<!-- 관리자 페이징처리 -->
	<entry key="selectListCount">
		SELECT
		       COUNT(*) "count"
		  FROM ENTRANCE
		 WHERE ENT_STATUS = 'N'
	</entry>
	
	<!-- 관리자 입소리스트 -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       ENT_NO
		                     , M.MEM_NAME "MEM_NAME"
		                     , ENT_TITLE
		                     , ENT_APPLYDATE
		                     , PROCESS_RESULT
		                  FROM ENTRANCE
		                  JOIN MEM_INFO M USING (MEM_NO)
		                 WHERE ENT_STATUS = 'N'
		                 ORDER
		                       BY ENT_NO DESC) A
		                )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="updateEntrance">
		UPDATE
			   ENTRANCE
		   SET MEM_NAME = ?
		     , ENT_TITLE = ?
		     , ANIMAL_VARIETY = ?
		     , ANIMAL_NAME = ?
		     , ANIMAL_GENDER = ?
		     , ANIMAL_AGE = ?
		     , ANIMAL_VACCINATED = ?
		     , ANIMAL_NEUTRALIZATION = ?
		     , ANIMAL_DISEASE = ?
		     , ANIMAL_ISSUE = ?
		     , ENT_WANT_DATE = ?
		     , ENT_WANT_TIME = ?
		     , REQ_PHONE = ?
		     , ANIMAL_TYPE = ?
		 WHERE ENT_NO = ?
	</entry>

	<entry key="updateAttachment">
		UPDATE
			   ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , PATH = ?
		 WHERE ATTACH_NO = ?
	</entry>

	<entry key="insertNewAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    ATTACH_NO
		  , REF_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , PATH
		  )
		  VALUES
		  (
		    'AT-'||LPAD(SEQ_ATNO.NEXTVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?	
		  )
	</entry>











</properties>