<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectFAQList">
		SELECT
		       FAQ_NO
		     , FAQ_TITLE
		     , FAQ_CONTENT
		     , FAQ_ENROLL_DATE
		     , FAQ_MODIFY_DATE
		     , FAQ_STATUS
		     , MN_NO
		     , FAQ_CATEGORY
		  FROM FAQ
		 WHERE FAQ_STATUS = 'N'
	</entry>

	<entry key="insertFAQ">
		INSERT
		  INTO FAQ
		  (
		    FAQ_NO
		  , FAQ_TITLE
		  , FAQ_CONTENT
		  , MN_NO
		  , FAQ_CATEGORY
		  )
		  VALUES
		  (
		    'F-'||LPAD(SEQ_FNO.NEXTVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>

	<entry key="deleteFAQ">
		UPDATE
		       FAQ
		   SET FAQ_STATUS = 'Y'
		 WHERE FAQ_NO = ?
	</entry>

	<entry key="selectFAQ">
		SELECT
		       FAQ_NO
		     , FAQ_TITLE
		     , FAQ_CONTENT
		     , FAQ_CATEGORY
		  FROM FAQ
		 WHERE FAQ_NO = ?
	</entry>

	<entry key="updateFAQ">
		UPDATE
		       FAQ
		   SET FAQ_TITLE = ?
		     , FAQ_CONTENT = ?
		     , FAQ_MODIFY_DATE = SYSDATE
		     , FAQ_CATEGORY = ?
		 WHERE FAQ_NO = ?
	</entry>

	<entry key="keywordFAQ">
		SELECT
		       FAQ_NO
		     , FAQ_TITLE
		     , FAQ_CONTENT
		     , FAQ_CATEGORY
		  FROM FAQ
		 WHERE FAQ_TITLE LIKE ?
	</entry>
	
	<entry key="keywordCategory">
		SELECT
		       FAQ_NO
		     , FAQ_TITLE
		     , FAQ_CONTENT
		     , FAQ_ENROLL_DATE
		     , FAQ_CATEGORY
		  FROM FAQ
		 WHERE FAQ_CATEGORY LIKE ?
		   AND FAQ_STATUS = 'N'
	</entry>

	<entry key="selectfaqDate">
		SELECT TO_CHAR(FAQ_ENROLL_DATE, 'YYYY/MM/DD') "FAQ_DATE"
		  FROM (SELECT FAQ_ENROLL_DATE
		          FROM FAQ
		         WHERE FAQ_STATUS = 'N'
		         ORDER 
		            BY FAQ_ENROLL_DATE DESC) A
		 WHERE ROWNUM = 1
	</entry>
	

















</properties>
