<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) "count"
		  FROM REPORTED
	</entry>

	<entry key="selectReportList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       REPORT_NO
		                     , CONTENT_NO
		                     , REPORTED_MEM
		                     , MEM_ID
		                     , REPORT_CONTENT
		                     , TO_CHAR(REPORT_DATE, 'YYYY/MM/DD') REPORT_DATE
		                     , REPORT_STATUS
		                     , REPORT_CTG
		                  FROM REPORTED
		                  JOIN MEM_INFO ON (REPORTED_MEM = MEM_NO)
		                 ORDER
		                       BY REPORT_NO DESC) A
		                )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

	<!-- 검색하기 -->
	<entry key="searchReport">
		SELECT 
		       REPORT_NO
		     , NVL(CONTENT_NO, '-') CONTENT_NO
		     , REPORTING_MEM
		     , MEM_ID
		     , REPORT_CONTENT
		     , TO_CHAR(REPORT_DATE, 'YYYY/MM/DD') REPORT_DATE
		     , REPORT_STATUS
		     , REPORT_CTG
		  FROM REPORTED
		  JOIN MEM_INFO ON (REPORTED_MEM = MEM_NO)
		 WHERE TYPE_BR = ?
		   AND REPORT_DATE BETWEEN ? AND SYSDATE
		   AND REPORT_STATUS = ?
	</entry>
	
	<!-- 신고글 삭제 -->
	<entry key="deleteReview">
		UPDATE
		       REPORTED
		   SET REPORT_STATUS = 'Y'
		 WHERE REPORT_NO = ?
	</entry>
	
	<!-- 신고(후기)상세보기 -->
	<entry key="selectReviewReport">
		SELECT
		       REPORT_NO
			 , REPORT_CTG
		     , CONTENT_NO
		     , M.MEM_ID "MEM_ID"
		     , REPORT_CONTENT
		     , TO_CHAR(REPORT_DATE, 'YYYY/MM/DD') REPORT_DATE
		     , REPORT_STATUS
		     , AR_TITLE
		     , AR_CONTENT
		     , POST_STATUS
		  FROM REPORTED R
		  JOIN MEM_INFO M ON (REPORTED_MEM = MEM_NO)
  		  JOIN ADOPT_REVIEW ON (CONTENT_NO = ARLIST_NO)
		 WHERE REPORT_NO = ?
	</entry>
	
	<!-- 신고(실종보호)상세보기 -->
	<entry key="selectDSPReport">
		SELECT
		       REPORT_NO
		     , CONTENT_NO
		     , M.MEM_ID "MEM_ID"
		     , REPORT_CONTENT
		     , TO_CHAR(REPORT_DATE, 'YYYY/MM/DD') REPORT_DATE
		     , REPORT_STATUS
		     , REPORT_CTG
		     , DSP_TITLE
		     , ANIMAL_ISSUE
		     , ETC
			 , POST_STATUS
		  FROM REPORTED 
		  JOIN MEM_INFO M ON (REPORTED_MEM = M.MEM_NO)
		  JOIN DSP ON (CONTENT_NO = DSP_NO)
		 WHERE REPORT_NO = ?
	</entry>
	
	<!-- 신고(댓글)상세보기 -->
	<entry key="selectReplyReport">
		SELECT
		       REPORT_NO
		     , CONTENT_NO
		     , M.MEM_ID "MEM_ID"
		     , REPORT_CONTENT
		     , TO_CHAR(REPORT_DATE, 'YYYY/MM/DD') REPORT_DATE
		     , REPORT_STATUS
		     , REPORT_CTG
		     , REPLY_CONTENT
		     , REPLY_STATUS
		  FROM REPORTED 
		  JOIN MEM_INFO M ON (REPORTED_MEM = M.MEM_NO)
		  JOIN REPLY ON (CONTENT_NO = REPLY_NO)
		 WHERE REPORT_NO = ?
	</entry>
	
	<!-- 회원별 신고횟수 및 블랙리스트 여부 조회 -->
	<entry key="selectUserReportList">
		SELECT 
		       REPORTED_MEM
		     , MEM_ID
		     , MEM_NAME
		     , BLACKLIST_YN
		     , COUNT(*) count
		 FROM REPORTED
		 JOIN MEM_INFO ON (MEM_NO = REPORTED_MEM)
		WHERE REPORT_STATUS = 'Y'
		  AND BLACKLIST_YN = 'N'
		GROUP 
		      BY 
		       MEM_ID
		     , MEM_NAME
		     , REPORTED_MEM
		     , BLACKLIST_YN
	</entry>

	<!-- 입양후기 게시글복구 -->
	<entry key="cancleDeleteReview">
		UPDATE
		       ADOPT_REVIEW
		   SET POST_STATUS = 'Y'
		 WHERE ARLIST_NO = ?
	</entry>
	
	<!-- 댓글 게시글복구 -->
	<entry key="cancleDeleteReply">
		UPDATE
		       REPLY
		   SET REPLY_STATUS = 'Y'
		 WHERE REPLY_NO = ?
	</entry>
	
	<!-- 실종보호 게시글복구 -->
	<entry key="cancleDeleteDsp">
		UPDATE
		       DSP
		   SET POST_STATUS = 'Y'
		 WHERE DSP_NO = ?
	</entry>
	
	<entry key="blacklistMem">
		UPDATE
			   MEM_INFO
		   SET BLACKLIST_YN = 'Y'
		     , BLACK_DATE = SYSDATE
		 WHERE MEM_NO = ?	   
	</entry>

	<entry key="insertReportBr">
		INSERT 
		  INTO REPORTED
		  (
		     REPORT_NO
		   , CONTENT_NO
		   , REPORTING_MEM
		   , REPORTED_MEM
		   , REPORT_CONTENT
		   , REPORT_DATE
		   , REPORT_STATUS
		   , REPORT_CTG
		   , TYPE_BR
		  )
		  VALUES
		  (
		    LPAD(SEQ_RNO.NEXTVAL,3,0)
		  , ?
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  , 'N'
		  , ?
		  , ?
		  ) 
	</entry>
	
	<entry key="insertReportCmt">
		INSERT 
			  INTO REPORTED
			  (
			     REPORT_NO
			   , CONTENT_NO
			   , REPORTING_MEM
			   , REPORTED_MEM
			   , REPORT_CONTENT
			   , REPORT_DATE
			   , REPORT_STATUS
			   , REPORT_CTG
			   , TYPE_BR
			  )
			  VALUES
			  (
			    LPAD(SEQ_RNO.NEXTVAL,3,0)
			  , ?
			  , ?
			  , ?
			  , ?
			  , SYSDATE
			  , 'N'
			  , ?
			  , ?
			  ) 
	</entry>

	<entry key="selectDate">
		SELECT TO_CHAR(REPORT_DATE, 'YYYY/MM/DD') "WRITE_DATE"
		  FROM (SELECT REPORT_DATE
		          FROM REPORTED
		         WHERE REPORT_STATUS = 'N'
		         ORDER 
		            BY REPORT_DATE DESC) A
		 WHERE ROWNUM = 1
	</entry>





</properties>